<div id="<%= dom_id training_plan %>">
  <p>
    <strong>Category:</strong>
    <%= training_plan.category %>
  </p>
  <p>
    <strong>Description:</strong>
    <%= training_plan.description %>
  </p>
  <p>
    <strong>Duration:</strong>
    <%= training_plan.duration %>
  </p>
</div>
